<body>
    <div class="oval">
            <div class="material-symbols-outlined"  style="font-size:90px;">
               library_books
            </div>
        </div>
        <div class="ELib_title">
            E-Library
         </div>
         <div class="Title-2">
             Powered by
         </div>
         <div>
            <img src="../../assets/images/CAP.PA_BIG.D.png">
         </div>
  
         <form>
         <div class="InputBoxes">
            <input type="text" class="searchbox"/>
            <br/><br/>
            <input type="password" class="pwdBox"/>
         </div>

          <div class="submitDiv">
            <p><button type="submit">Log in</button></p>
        </div>

        </form>
  </body>
  
  